<p>
Bonjour,
</p>
<p>
une commande a été passée. Il s'agit de {{ phone_number | phone_number_format('NATIONAL') }}
</p>

<p>
    Signature<br>
    <img src="cid:logo">
    <img src="{{ email.image('@images/Logo_Dawan.svg') }}">
</p>
